.qf-search-con {}
.qf-search-con .layui-form-item{
    display:inline-block;
    margin-bottom: 0;
}
.qf-search-con .layui-form-item .layui-inline{
    margin-bottom: 0;
}
.qf-search-con .layui-form-item .layui-input-inline{
    margin-right:0;
}
.qf-search-advanced{
    display:none;
}

.qf-search-con .layui-form-pane .layui-form-label{
    width:auto;
}